h2 {
  margin-top: 4.875rem;
  margin-bottom: 3.125rem;
}

h3 {
  margin: 3.125rem 0 1.5rem;
}

h4, p {
  margin-bottom: 1rem;
}
#bottom-banner {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
}
#mailinglist {
  margin-top: 2rem;
  input {
    border: 2px solid #E5E5E5;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  button {
    font-weight: bold;
    font-size: 1rem;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0 0.5rem;
  }
}
