html {
  --scroll-behavior: smooth; // https://jonaskuske.github.io/smoothscroll-anchor-polyfill/
  scroll-behavior: smooth;
}

h2 {
  margin-top: 4.875rem;
  margin-bottom: 3.125rem;
}

h3 {
  margin: 3.125rem 0 1.5rem;
}

h4, p {
  margin-bottom: 1rem;
}
#return-to-nav {
  transition: all 0.35s ease;
  opacity: 0;
  z-index: 99;
  position: fixed;
  bottom: 7%;
  right: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 1rem;
  &.show {
    opacity: 1;
  }
}
#bottom-banner {
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
}
#mailinglist {
  margin-top: 2rem;
  input, button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-width: 0.15rem;
    border-style: solid;
  }
  input, button:hover {
    border-color: #E5E5E5;
  }
  button {
    transition: all 0.25s ease;
    font-weight: bold;
    background: none;
    cursor: pointer;
    border-color: white;
    &:hover {
      background-color: #E5E5E5;
    }
  }
}
