<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>    
    <main class="site__content">
      {% for resource in site.resources limit: 1 %}
      <article id="{{ resource.slug | slice: 3, resource.slug.size }}">
        <header>
          <div class="wrapper">
            <div class="title">
              <div class="brand-bars logo"></div>
              <h1>
                {{ resource.title }}
                {% if resource.subtitle %}<span class="subtitle">{{ resource.subtitle }}</span>{% endif %}
                <a href="#{{ resource.slug }}"></a>
              </h1>
            </div>
            <div class="subhead">
              <div class="subwrapper">
                <a href="mailto: contact@onym.co">Contact</a>
              </div>
            </div>
          </div>
        </header>
        <div class="content wrapper">
          {{ resource.content }}
          <form id="mailinglist" action="https://leppert.us16.list-manage.com/subscribe/post?u=f12749db5967b17a715d19d6a&amp;id=d3e8c25525" method="post">
            <input type="email" value="" name="EMAIL" placeholder="name@onym.com">
            <button type="submit" value="Subscribe" name="subscribe">Subscribe</button>
          </form>
        </div>

        <div id="main-nav" class="wrapper">
          <nav>
            <ul>
              <li>Contents:</li>
              {% for resource in site.resources offset:1 %}
              <li>
                <a href="#{{ resource.slug | slice: 3, resource.slug.size }}">
                  {{ resource.title }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </article>
      {% endfor %}

      {{ content }}
    </main>
    <a id="return-to-nav" href="#main-nav">↑</a>
    <div id="bottom-banner" class="brand-bars"></div>
  </body>
</html>
