$black: #000;
$white: #FFF;
$rainbow: #F2F2F2 #FF6253 #F584DE #766CFD #3B67F0 #2995FA #5EDDE6 #38DC7C #424242;
$fade-light: 90%;
$fade-medium: 80%;

body {
  color: lighten(#000, 65%);
}

h1, h2, h3, a, #intro {
  color: $black;
}

.brand-bars {
  $step: 100/(length($rainbow) - 2);
  $gradient: null;
  @for $i from 2 to length($rainbow) {
    $color: nth($rainbow, $i);
    @if($i != 2){
      $gradient: append($gradient, $color (($i - 2) * $step) + unquote("%"), $separator: comma);
    }
    $gradient: append($gradient, $color (($i - 1) * $step) + unquote("%"), $separator: comma);
  }
  background: linear-gradient($gradient);
}

.credit a {
  color: inherit;
}

@for $i from 1 through length($rainbow) {
  $color: nth($rainbow, $i);
  $color-darker: darken($color, 60%);
  $color-hover: mix($white, $color, 50%);
  $next-color: if($i < length($rainbow), nth($rainbow, $i+1), white);
  article:nth-child(#{$i}) {
    background: linear-gradient(to bottom, mix($white, $color, $fade-light) 0%, mix($white, $color, $fade-light) 80%, mix($white, $next-color, $fade-light) 100%);
    color: darken(desaturate($color, 75%), 10%);
    svg {
      fill: $color;
    }
    h1 { color: $color; }
    h1, h2, h3, a { color: $color-darker; }
  }
}

.subtitle {
  color: #828282;
}

.site__content article:first-child {
  color: lighten(#000, 65%);
  h1 { color: $black; }
  a { color: $black; }
  svg { fill: $black; }
}

article:first-child header:hover svg {
  fill: $black;
}

nav {
  color: $black;
}

a:hover {
  opacity: 0.5;
}
